<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Account Balances</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/create-account">Create Account</a>
  </li>
</ul>

<div class="container">

	<div id="accounts">
		<p>There are no accounts, but you can <a href="/create-account">create one</a>.</p>
	</div>

	<div class="row col-md-6 col-md-offset-3">
		<button id="more-money" type="button" class="btn btn-primary">More Money</button>  
	</div>

</div>

<script src="/js/display-accounts.js"></script>